<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/c548cba824.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image" href="/assets/safe-space-logo.png">
    <title><%= title %></title>
