  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav class="nav-container">
    <% if (user) { %>
      <div>
        <a href='/'><img src="/assets/safe-space-logo.png" id="nav-logo"></a>
      </div> 
      <div>
        <a
        href='/entries/<%= user.profile._id %>/journal'><i class="fa-solid fa-book fa-lg"></i></a>
        <a
        href="/entries/new"><i class="fa-regular fa-pen-to-square fa-lg" id="new-journal"></i></a>
      <a href="/entries/" class="community">
        <i class="fa-solid fa-people-group fa-lg"></i>
      </a>
      <a href="/auth/logout" class="right" type="submit"><i class="fa-solid fa-right-from-bracket fa-lg"></i>
      </a>
      </div>
      
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
