<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Ask for Help</h1>

  <div>
    <p> Crisis Text Line</p>
    <p>Text "HELLO" to 741741</p>
  </div>
  <div> 
    <p>988 Suicide & Crisis Help Line</p>
    <p>Call or text 988 to be connected with a trained counselor. Available 24/7</p>
  </div>
  <button> Back to Home </button>
</main>

<%- include('./partials/footer') %>