<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div> 
    <h2>What would you like to do today?</h2>
  </div>
  <div>
    <p>Write about your day</p>
    <p>See how others are doing</p>
    <p>Ask for help</p>
  </div>
  <img src="/assets/hands-hold.png" alt="hands-with-sun">  
</main>

<%- include('./partials/footer') %>