<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div> 
    <h2>What would you like to do today?</h2>
  </div>
  <div>
    <a href="/entries/new">Write about your day</a>

    <a href="/entries/">See how others are doing</a>
    
    <a href="/help">Ask for help</a>
  </div>
  <img src="/assets/hands-hold.png" alt="hands-with-sun" id="hands-with-sun">  
</main>

<%- include('./partials/footer') %>