<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div id="intro-block"> 
    <h2 id="intro-question">What would you like to do today?</h2>
  </div>
  <div>
    <ul id="options"> 
      <li><a href="/entries/new">Write about your day</a></li>

      <li><a href="/entries/">See how others are doing</a></li>

      <li><a href="/help">Ask for help</a></li>
  </ul>
  </div>
  <img src="/assets/hands-hold.png" alt="hands-with-sun" id="hands-with-sun">  
</main>

<%- include('./partials/footer') %>