<%- include('./partials/html-head') %>

<main> 
  <h1 class="animate__animated animate__fadeIn" id="welcome">Welcome to</h1>
  <img src="/assets/safe-space-logo.png" alt="safe-space-logo" id="main-logo" class="animate__animated animate__fadeIn"> 
  <p id="welcome-message" class="animate__animated animate__fadeIn">A carefully designed mobile and tablet-friendly mental-health app. Providing you a space where can track your thoughts and find a supportive community to lean on. Anytime and anywhere.</p>
  <div class="animate__animated animate__fadeIn" id="google-auth">
    <script defer src="https://accounts.google.com/gsi/client"></script>
    <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin right"
          data-type="standard"
          data-size="medium"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
    </div>
</main>

<%- include('./partials/footer') %>