html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #2e844d;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

#hands-with-sun{ 
  width: 100vw;
}

#nav-logo {
  height: 50px;
}

.nav-container {
  display: flex; 
  justify-content: space-between;
}

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: #2e844d; 
}

#main-logo {
  width: 100vw;
  padding: 0;
  animation: fadeIn; 
  animation-duration: 5s; 
}

#main-logo, #welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome{
  padding-top: 15%;
  font-size: 7vw;
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  animation: fadeIn; 
  animation-duration: 5s; 
}

#intro-question{
  padding-top: 10%;
  font-size: 5vw;
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

#options {
  list-style: none;
  text-align: center;
  font-size: 20px;
  font-size: 5vw;
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-left: 0;
  margin-top: 0; 
}

#options > li {
  padding: 20px; 
}

#welcome-message {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 0; 
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  animation: fadeIn; 
  animation-duration: 5s; 
}

#google-auth {
  animation: fadeIn; 
  animation-duration: 5s;
}


